apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "resource.default.name" . }}
  namespace: {{ include "resource.default.namespace" . }}
  labels:
    {{- include "labels.common" . | nindent 4 }}
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      {{- include "labels.selector" . | nindent 6 }}
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        releaseRevision: {{ .Release.Revision | quote }}
        {{- if .Values.profiling.enabled }}
        {{- include "annotations.profiling" . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "labels.common" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "resource.default.name"  . }}
      securityContext:
        {{- with .Values.securityContext.pod }}
          {{- . | toYaml | nindent 8 }}
        {{- end }}
      containers:
      - name: {{ include "name" . }}
        image: "{{ .Values.registry.domain }}/{{ .Values.image.name }}:{{ default .Chart.Version .Values.image.tag }}"
        args:
          - -enable-logging={{ .Values.loggingOperator.loggingEnabled }}
          - -logs-reconciliation-enabled={{ .Values.loggingOperator.logsReconciliationEnabled }}
          - -events-reconciliation-enabled={{ .Values.loggingOperator.eventsReconciliationEnabled }}
          - -enable-node-filtering={{ .Values.loggingOperator.nodeFilteringEnabled }}
          - -enable-network-monitoring={{ .Values.loggingOperator.networkMonitoringEnabled }}
          - -enable-tracing={{ .Values.tracing.enabled }}
          - -insecure-ca={{ .Values.managementCluster.insecureCA }}
          - -installation-name={{ .Values.managementCluster.name }}
          - -default-namespaces={{ .Values.loggingOperator.defaultNamespaces }}
          {{- if .Values.loggingOperator.excludeEventsFromNamespaces }}
          - -exclude-events-from-namespaces={{ .Values.loggingOperator.excludeEventsFromNamespaces | join "," }}
          {{- end }}
          {{- if .Values.loggingOperator.includeEventsFromNamespaces }}
          - -include-events-from-namespaces={{ .Values.loggingOperator.includeEventsFromNamespaces | join "," }}
          {{- end }}
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 30
          timeoutSeconds: 1
        securityContext:
          {{- with .Values.securityContext.container }}
            {{- . | toYaml | nindent 10 }}
          {{- end }}
        ports:
        - containerPort: 8080
          name: http
          protocol: TCP
        - containerPort: 8081
          name: health
          protocol: TCP
        - containerPort: 6060
          name: profiles
          protocol: TCP
        resources:
          requests:
            cpu: {{ .Values.resources.requests.cpu }}
            memory: {{ .Values.resources.requests.memory }}
          limits:
            cpu: {{ .Values.resources.limits.cpu }}
            memory: {{ .Values.resources.limits.memory }}
